$bkcolor  : #0F1214;
$txtcolor1: #f4f4f4;
$txtcolor2: #EFF2F3;
$acntcolor: #ffd000;
$pureblack: #111111;


@mixin phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin phone-landscape-only {
  @media (min-width: 600px) and (max-width: 900px) and (orientation: landscape) { @content; }
}
@mixin tablet-portrait-up{
  @media (min-width: 600px) and (orientation: portrait) { @content; }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) and (max-width: 1199px) and (orientation: landscape)  { @content; }
}
@mixin desktop-up {
  @media (min-width: 1200px) { @content; }
}


/* <#########################################------Laptop Desktop--------########################################################>
   <#########################################------Laptop Desktop--------########################################################>
   <#########################################------Laptop Desktop--------########################################################>*/

html{
      -webkit-tap-highlight-color: transparent;
      @include desktop-up{
        font-size: 16px;
      }
      @include tablet-portrait-up{
        font-size: 14px;
      }
      @include phone-only{
        font-size: 12px
      }

}

body{
    font-family: 'Work Sans', sans-serif;
    background-color: $bkcolor;
    color: $txtcolor1;
    margin: 0%;
    line-height: 1.5;
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-webkit-scrollbar {
  width: 0% !important;  /* remove scrollbar space */
  height: 0% !important;
  background: transparent; 
}

.phoneLandscapeOnly{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0F1214;
    z-index: 2000;
      p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      text-align: center;
      font-size: 2vw;
      margin: 0;
      }
      .landscapeHelper{
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
      }
  
}

.mainpage{
  visibility: unset;
  opacity: unset;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

%logo-pr-1{
  width: 70%;
  height: auto;
  opacity: 0;
  transform: rotate(-10deg);
  left: 15%;
  position: absolute;
}
%logo-pr-2{
  height: 70%;
  width: auto;
  opacity: 0;
  transform: rotate(-10deg);
  position: absolute;  
  left: 0.5vw;
}
.main-logo-pr{
  @extend %logo-pr-1;
  top: 1%; 
}
.main-logo-co{
  @extend %logo-pr-1;
  top: 1%; 
}
.main-logo-sk {
  @extend %logo-pr-2;
  bottom: 15%;
}
.main-logo-ab {
  @extend %logo-pr-2;
  top: 15%; 
}


path{
  position: absolute;
  top: 0%;
  left: 0%;
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
  fill: $bkcolor;
}

.brand-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  position: absolute;
  top: 10vh;
  left: 10vh;
  width: calc(100vw - 20vh);
  height: 80vh;
    @include phone-landscape-only{
      flex-direction: row;
    }
    @include tablet-landscape-up{
      flex-direction: row;
    }
    @include desktop-up{
      flex-direction: row;
    }
  
  /* Name section */
  .nameContainer{
    flex: 1;
    order: 2;
    text-align: center;
    z-index: 100;
    padding: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
      @include phone-landscape-only{
        text-align: left; 
        order: 1;
        padding-left: 5%; 
      }
      @include tablet-landscape-up{
        text-align: left; 
        order: 1;
        padding-left: 5%;
      }
      @include desktop-up{
        text-align: left; 
        order: 1;
        padding-left: 5%;
      }
        .mainpage-text1, .mainpage-text2, .mainpage-text3, .mainpage-text4{
          font-weight: 300;
          font-size: 1.5rem;
          border-right: 2px solid transparent;
            @include tablet-portrait-up{
              font-size: 2rem;
            }
            @include tablet-landscape-up{
              font-size: 2rem;
            }
            @include desktop-up{
              font-size: 2.5rem;
            }
        }
  }
  .logo-wrapper{
    position: relative;
    transform: rotate(-10deg);
    flex: 1;
    order: 1;
    overflow: hidden;
    @include tablet-landscape-up{
      order: 2;
    }
    .logo-png{
      object-fit: contain;
      height: 72%;
      width: 101%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%,-40%);
      opacity: 0;
    }
    #logo-svg{
      height: 70%;
      width: 100%;
      position: absolute;
      top: 40.2%;
      left: 50%;
      transform: translate(-50%,-40%);
    }
  }
}



/* entire background text */

.floatingText{
    font-size: 2rem;
    width: 2rem;
    padding: 2%;
    display: inline-block;
    transition: all 250ms ease-out;
    transform: scale(1);
    cursor: pointer;
    font-weight: 200;
    color: $txtcolor2;
    text-align: center;
      &:hover{
        /* disable hover animation on mobile devices */
        transform: initial; 
          @include desktop-up{
            transform: scale(1.8);
            color: $acntcolor;
          }
    
      } 
      @include phone-landscape-only{
        padding: 1%;
        width: 1rem;
      }
      @include tablet-portrait-up{
        padding: 1%;
      }
      @include desktop-up{
        padding: 0.5%;
        font-size: 2.5rem;
        width: 1.5rem;
      }
  }

.floatingmainText{
    display: inline-block;
    padding: 2%;
    font-size: 2rem;
    @include phone-landscape-only{
      padding: 1%;
      width: 1rem;
    }
    @include tablet-portrait-up{
      padding: 1%;
    }
    @include desktop-up{
      padding: 0.5%;
      font-size: 2.5rem;
      width: 1.5rem;
    }
}





/*< ---------------------------------------------------------------------- website launch button ----------------------------------------------------------------------*/
/*< ---------------------------------------------------------------------- website launch button ----------------------------------------------------------------------*/
/*< ---------------------------------------------------------------------- website launch button ----------------------------------------------------------------------*/

.buttonContainer{
  width: 30%;
  height: 15%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  font-size: 2rem;
  color: inherit;
  margin: 0;
  transform: translateX(-50%);
  text-align: center;
  overflow: hidden;
  border-radius: 0%;
  z-index: 200;
  letter-spacing: 0.5rem;
  font-weight: 300;
  @include phone-only{
    width: 40vw;
    height: 10vh;
    bottom: 10%;
    left: 50%;
  }
  @include desktop-up{
    bottom: 5%;
    font-size: 3rem;
  }
    .correctWebsite{
      border: none;
      padding: none;
      font-family: inherit;
      font-size: inherit;
      text-decoration: none;
      background: $bkcolor;
      color: $txtcolor2;
      width: 100%;
      height: 100%;   
      font-weight: 300;
      font-size: 2rem;
        &:focus { 
          outline: none; 
        }
        @include desktop-up{
          font-weight: 200;
          font-size: 3rem;
        }
    }

    .buttonAnimationHelper{
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: $txtcolor1;
        @include phone-only{
            display: none;
        }
        p{
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
          margin: 0;
          color: $bkcolor
        }
    }
}
  





/* -----------------------------------------------------------------------All mainsections header ------------------------------------------------------------------ */
/* -----------------------------------------------------------------------All mainsections header ------------------------------------------------------------------ */
/* -----------------------------------------------------------------------All mainsections header ------------------------------------------------------------------ */
  
  .waitForClass, .waitForClass2, .waitForClass3, .waitForClass4{
      display:none;
  }

  %allsection-name-Container{
    text-align: center;
    color: $txtcolor2;
    position: absolute;
    z-index: 100;
  }

  %allsection-name-Container-div{
    top: 50%;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  %project-span{
    opacity: 1;
    display: inline-block;
    font-weight: 300;
    color: $acntcolor;
    width: 3vw;
    font-size: 1.2rem;
      @include tablet-portrait-up{
        width: 3vw;
      }
      @include tablet-landscape-up{
        width: 2vw;
        font-size: 1.5rem;
      }
      @include desktop-up{
        width: 1.5vw;
      }
  }
  
  .projectContainer{
    @extend %allsection-name-Container;
    width: 10vh;
    height: 100vh;
      @include phone-only{
        width: 10vw;
      }
      div{
        @extend %allsection-name-Container-div;
        transform: translate(-50%,-50%) rotate(90deg);
        left: 50%;
        width: 100vh;
      }
  }
  .contactContainer{
    @extend %allsection-name-Container;
    width: 10vh;
    height: 100vh;
    right: 0%;
    @include phone-only{
      width: 10vw;
    }
      div{
        @extend %allsection-name-Container-div;
        transform: translate(-50%,-50%) rotate(270deg);
        right: -50%;
        width: 100vh;
      }
  }
  .skillsContainer{
    @extend %allsection-name-Container;
    width: 100vw;
    height: 10vh;
    @include phone-only{
      height: 10vw;
    }
      div{
        @extend %allsection-name-Container-div;
        left: 50%;
        transform: translate(-50%,-50%);
      }
  }

  .aboutContainer{
    @extend %allsection-name-Container;
    width: 100vw;
    height: 10vh;
    bottom: 0%;
    @include phone-only{
      height: 10vw;
    }
      div{
        @extend %allsection-name-Container-div;
        left: 50%;
        transform: translate(-50%,-50%);
      }
  }

  .project span, .contact span, .skills span, .about span{
    @extend %project-span;
  }
 



  /* navtext animation */

  .widerText, .widerText2{
    display: inline-block;
    font-weight: 300;
    transition: all 1s cubic-bezier(0.49, -0.19, 0.32, 0.88);  
    width: 3vw;
    font-size: 1.2rem;
      @include tablet-portrait-up{
        width: 3vw;
      }
      @include tablet-landscape-up{
        width: 2vw;
        font-size: 1.5rem;
      }
      @include desktop-up{
        width: 1.5vw;
      }
  }

  .projectContainer:hover > div > .widerText ,  .contactContainer:hover > div > .widerText,   .skillsContainer:hover > div > .widerText2 ,  .aboutContainer:hover > div > .widerText2 {
      width:10%;
  }



  

/* <-------------------------  individual sections ------------------------------->  */
/* <-------------------------  individual sections ------------------------------->  */
/* <-------------------------  individual sections ------------------------------->  */




/* <-----------left////right------------------> */
#leftSectionContainer, #rightSectionContainer, #topSectionContainer, #bottomSectionContainer{
  position: absolute;
  background-color: $bkcolor;
  height: 100vh;
  width: 100vw;
  z-index: 202;
  overflow: hidden;
}

.projectTransitionHelper, .contactTransitionHelper, .aboutTransitionHelper, .skillsTransitionHelper{
  position: absolute;
  background-color: $acntcolor;
  height: 100vh;
  width: 100vw;
  z-index: 201;
}


.projectPageContainer > p , .contactPageContainer> p, .aboutPageContainer > p, .skillsPageContainer > p{
  color: $bkcolor;
  font-size: 2rem;
  text-align: center;
  overflow: hidden;
  margin: 0%;

}

  /*<------------------------------------------------------- Left section Contents---------------------------------------------------------------------------------> */
  /*<------------------------------------------------------- Left section Contents---------------------------------------------------------------------------------> */
  /*<------------------------------------------------------- Left section Contents---------------------------------------------------------------------------------> */
  .pageIndicator{
    position: absolute;
    left: 1%;
    top: 50%;
    height: 50vh;
    transform: translateY(-50%);
    width: 5vh;
    background-color: transparent;
    z-index: 201;
    .indication{
      height: 24%;
      cursor: pointer; 
      flex-direction: column;
      display: flex;
       p{
        flex: 1;
        top: 0%;
        left: 0;
        position: relative;
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        margin: 0%;
          @include phone-only{
            font-size: 2rem;
          }
        }
    }
  }

  %p-t-content {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: $bkcolor;
    z-index: 200;
  }
  .projectPageContainer{
    width: calc(100vw - 10vh);
    height: 100vh;
    background-color: $bkcolor;
    position: relative;
    top: 0vh;
    left: 0vh ;
    overflow: hidden;
      @include phone-only{
        width: calc(100vw - 10vw);
      }
    .p-t-Left{
      @extend %p-t-content;
      left: -100%;
    }
    .p-t-Right{
      @extend %p-t-content;
      right: -100%
    }
    .container{
      min-width: 100%;
      min-height: 100%;
      margin:0;
      padding: 0;

        .home{
          height: 100vh;
          width: 100%;
          margin:0;
          padding: 0;
          position: absolute;
          .projectDetailContainer{
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            align-items: stretch;
            span.heading{
              font-size: 4rem;
              letter-spacing: 0.5rem;
              font-family: 'lato';
              text-align: center;
              -webkit-text-stroke-width: 2px;
              -webkit-text-stroke-color: $acntcolor;
              color: transparent;
              z-index: 199;
              position: absolute;
              top: 50%;
              left: 55%;
              transform: translate(-50%, -50%);
              width: 75%;
              pointer-events: none;
                @include tablet-portrait-up{
                  font-size: 5rem;
                  -webkit-text-stroke-width: 2px;
                  left: 50%;
                  width: 80%;
                }
                @include tablet-landscape-up{
                  font-size: 7rem;
                }
                @include desktop-up{
                  font-size: 9rem;
                  width: 90%;
                  -webkit-text-stroke-width: 3px;
                }
            }
            .thumbImg{
              width: 100%;
              height: 100vh;
              object-fit: cover;
              position: absolute;
              z-index: 100;
            }
              .thumbimg3{
                filter: invert(1);
            }
            .fa-vr-cardboard{
              z-index: 199;
              font-size: 2rem;
              position: absolute;
              bottom: 5%;
              right: 5%;
              color: $acntcolor;
                @include desktop-up{
                  font-size: 4rem;
                }
            }
            .titleContainer{
              flex: 1;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              font-weight: 300;
              .title{
                font-size: 1.5rem;
                  @include tablet-landscape-up{
                  font-size: 2rem;
                  }
                  @include desktop-up{
                    font-size: 2.5rem;
                  }
              }
              .back{
                position: absolute;
                padding-left: 3%;
                left: 1vw;
                font-size: 1.8rem;
                color: $acntcolor;
                cursor: pointer;
                z-index: 1;
              }
            }

            .imgContainer{
              flex: 6;
              width: 100%;
              padding: 1% 1%;
              box-sizing: border-box;
              flex-direction: column;
              display: flex;
              overflow: hidden;
              justify-content: center;
              align-items: center;
                @include phone-landscape-only{
                  flex-direction: row;
                }
                @include desktop-up{
                  flex-direction: row;
                }
              .title{
                  text-align: center;
                  flex: 1;
                  font-size: 2.5rem;
                  color: $txtcolor1;
                  align-self: center;
                  margin: 0;
                  font-weight: 200;
              }
              .projectImg{
                  flex: 6;
                  height: 100%;
                  width: 95%;
                  padding-top: 1%;
                  position: relative;
                  overflow: hidden;
                  align-self: center;
                  cursor: e-resize;
                    @include desktop-up{
                      width: 100%;
                    }
                  .pi-div{
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    .pi{
                      object-fit: contain;
                      height: 100%;
                      width: 100%;
                    }
                  }
              }
              .external-links{
                width: 30vw;
                text-align: center;
                font-size: 2rem;
                display: flex;
                flex-direction: row;
                flex: 1;
                margin: 1%;
                align-items: center;
                  @include phone-landscape-only{
                    flex-direction: column;
                    font-size: 1.5rem;
                    width: 20vw;
                  }
                  @include desktop-up{
                  flex-direction: column;
                  font-size: 3rem;
                  width: 20vw;
                  }
                  a{
                      flex: 1;
                      cursor: pointer;
                      text-decoration: none;
                      color: inherit;
                      i:hover{
                        color: $acntcolor;
                    }
                  }
              }
              .pitext{
                font-family: "Work Sans";
                font-size: 3.5vw;
                z-index: 5;
                text-shadow: 2px 2px 2px #000;
                font-weight: 500;
                flex: 2;
                margin: 1%;
                box-sizing: border-box;
                padding: 1%;
                min-width: 30vw;
                  @include phone-landscape-only{
                    font-size: 2vw;
                    min-width: 16vw;
                  }
                  @include tablet-portrait-up{
                    font-size: 3vw;
                    flex: 1;
                  }
                  @include tablet-landscape-up{
                    font-size: 2.5vw;
                  }
                  @include desktop-up{
                    font-size: 2vw;
                    min-width: 16vw;
                  }
                div{
                  overflow: hidden;
                  text-align: center;
                }
              }
          
            }
            .textContent{
              flex : 2;
              width: 100%;
              padding: 3%;
              color: $txtcolor1;
              text-align: justify;
              overflow: hidden;
              box-sizing: border-box;
                @include phone-only{
                  flex: 3;
                }
                @include tablet-portrait-up{
                  padding: 1.5%;
                }
                @include desktop-up{
                  flex : 1.5;
                  padding: 1%;
                }
                  p{
                      padding: 0 5% 5% 5%;
                      margin: 0%;
                      font-size: 1.5rem;
                      text-align: center;
                      font-weight: 200;
                      @include phone-only{
                          font-size: 1.2rem
                      }
                      @include desktop-up{
                        padding: 0% 1%;
                        font-size: 2vw;
                      }
                  }
            }
          }
        }
    }
  }


  







  



/* <------------------------------------------------------------------------------------ top section --------------------------------------------------------------> */
/* <------------------------------------------------------------------------------------ top section --------------------------------------------------------------> */
/* <------------------------------------------------------------------------------------ top section --------------------------------------------------------------> */

.skillsPageContainer{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
    @include phone-only{
      height: calc(100vh - 10vw);
    }
    @include desktop-up{
      flex-direction: row;
    }
}
.skillsGrid1{
  flex: 1;
  box-sizing: border-box;
  width: 100%;
  height: 30%;
  flex-direction: row;
  display: flex;
  padding: 0%;
  background-color: $acntcolor;
    @include desktop-up{
      height: 100%;
      padding: 2%;
      display: block;
    }
    .leftarrow, .rightarrow{
      display: inline-block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      height: fit-content;
      flex: 1;
      text-align: center;
      font-size: 1.5rem;
      color: #0f1214;
      @include desktop-up{
        display: none;
      }
    }
    .allSkillsContainer{
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      flex: 10;
      align-items: center;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-self: center;
      overflow: scroll;
      padding: 2%;
      flex:10;
    
        @include desktop-up{
          align-items: stretch;
          flex: 1;
          padding: 2% 0%;
          justify-content: space-around;
          flex-wrap: wrap;
        }
      &:after{ // to add proper space after the last bubble
            content: '.';
            opacity: 0;
          @include desktop-up{
            content: none;
          }
      }
    
      .allskills{
        background-color: $txtcolor2;
        border-radius: 50%;
        box-shadow: 3px 4px #1f1f1f;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        width: calc(100vw/8);
        height: calc(100vw/8);
        margin: 0% 5%;
          @include phone-only{
            min-width: 40vw;
            height: 40vw;
            margin: 0% 20vw;
          }
          @include phone-landscape-only{
            min-width: 20vh;
            height: 20vh;
            margin: 7%;
          }
          @include tablet-portrait-up{
            min-width: calc(100vw/8);
            height: calc(100vw/8);
            margin: 0% 5%;
          }
          @include tablet-landscape-up{
            min-width: calc(100vw/8);
            height: calc(100vw/8);
            margin: 0% 5%;
          }
      
          @include desktop-up{
            margin: 0% 5%;
            width: 8vw;
            height: 8vw;
          }
          div{
            color: $bkcolor;
            font-size: 1.3rem;
            overflow: hidden;
            width: 100%;
            height: 100%;
            font-family: 'Lato', serif;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
              @include desktop-up{
                font-size: 1.5rem;
              }
              p{
                flex: 1;
                position: absolute;
                justify-content: center;
                align-items: center;
                margin: 0%;
                @include phone-only{
                  font-size: 2rem;
                }
              }
              .skillName4{
                font-size: 3rem;
                  @include phone-only{
                    font-size: 6rem;
                  }
                  @include desktop-up{
                    font-size: 4rem;
                  }
              }
              img.skillName4{
                padding: 20%;
                height: 60%;
              }
          }
      }
      
      .skills6{
        div {
          img.skillName4{
            padding: 20%;
            height: 50%;
          }
        }
      }
    }
}

.skillsGrid2{
  flex: 1;
  width: 100%;
  height: 70%;
    @include desktop-up{
      flex: 2;
      height: 100%;
    }
  .skillsContent{
    height: 90vh;
    margin: 2% 5%;
      p{
        font-size: 1.5rem;
        text-align: justify;
        font-weight: 300;

        @include phone-landscape-only{
          font-size: 1rem;
        }
      }
  }

}




.bs4{
  padding: 1%;
  .css4js{
    line-height: 0;
  }
  .js1{
    color: $acntcolor;
    font-style: italic;
    line-height: 1rem;
  }
  .jsbig, .css4js{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    @include phone-only{
      font-size: 2rem;
    }
    @include phone-landscape-only{
      font-size: 1.5rem;
    }
  }
}

.sun{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.react1{
  color: $acntcolor;
  font-style: italic;
  line-height: 1rem;
  font-size: 1.5rem;
}
.reacth1{
  color: $acntcolor;
  font-style: italic;
  font-size: 2rem;
  margin-right: 1%;
}
.react2{
  margin: 0 0 0 5%;
text-align: center
}
.react3{
  margin: 0 0 0 10%;
}

.css4n{
  font-size: 2.5rem;
  color: $acntcolor;

}










/* <----------------------------------------------------------------------right-----------------------------------------------------------------------------------> */
/* <----------------------------------------------------------------------right-----------------------------------------------------------------------------------> */
/* <----------------------------------------------------------------------right-----------------------------------------------------------------------------------> */

.contactPageContainer{
  width: calc(100vw - 10vh);
  height: 100vh;
  background-color: $acntcolor;
  position: relative;
  top: 0vh;
  left: 10vh ;
  overflow: hidden;
    @include phone-only{
      width: calc(100vw - 10vw);
      left: 10vw;
    }
    .container{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around;
      height: 100%;
      width: 100%;
    }
}

%email-greetings {
  font-weight: 300;
  color: $bkcolor;
  font-family: 'Nunito', sans-serif;
  margin: 3%;
  flex: 1;
  align-self: center;
}
.emailContainer, .greetingsContainer{
  flex: 1;
  overflow: hidden;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
    a{
      text-decoration: none;
    }
}

.email{
  @extend %email-greetings;
  font-size: 4vw;
  letter-spacing: 1vw;
  @include desktop-up{
    // letter-spacing: 1rem;
  }
}
.greetings{
  @extend %email-greetings;
  font-size: 10vw;
    @include desktop-up{
      font-size: 7vw;
    }
}

.links{
  flex: 1;
  height: 10vh;
  text-align: center;
  justify-content: center;
  display: flex;
  width: 100%;
  .linkedin, .phone{
    display: inline-block;
    flex: 1;
    height: 10vh;
    max-width: 10vh;
    font-size: 10vw;
    color: $bkcolor;
    padding: 1%;
    border-radius: 50%;
    background: aliceblue;
    margin: 4%;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
        @include phone-landscape-only{
          font-size: 4vw;
        }
        @include desktop-up{
          font-size: 4vw
        }
      a {
        text-decoration: none;
        color: inherit;
      }
  }
}



/* <----------------------------------------------------------------------bottom-----------------------------------------------------------------------------------> */
/* <----------------------------------------------------------------------bottom-----------------------------------------------------------------------------------> */
/* <----------------------------------------------------------------------bottom-----------------------------------------------------------------------------------> */




.aboutPageContainer{
  height: 90vh;
  width: 100vw;
  position: relative;
  top: 10vh;
  left: 0vh ;
    @include phone-only{
      height: calc(100vh - 10vw);
      top: 10vw;
    }
  .aboutWrapper{
    width: 100%;
    height: 100%;
    background: url(./assets/aboutImages/1.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    .backgroundWrapper{
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .aboutContent{
      overflow: scroll;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0%;
      background-position: center;
      background-size: cover;
      z-index: 100;
      box-sizing: border-box;
      p{
        font-size: 10vw;
        padding: 0; 
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-text-stroke: 2px $pureblack;
        color: #f4f4f4;
        font-family: "Lato";
        margin: 0;
        @include phone-landscape-only{
          font-size: 7vw;
          -webkit-text-stroke-width: 3px;
        }
        @include desktop-up{
          font-size: 7vw;
          -webkit-text-stroke-width: 4px;
        }
        span{
          opacity: 0;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: 80%;
          text-align: center;
          padding: 5% 10%;
          z-index: 350;
        }
      }
    }
    .about-img-text{
      color: $acntcolor;
      font-size: 1.2rem;
      font-family: 'Dancing Script', cursive;
      text-align: center;
      overflow: hidden;
      min-height: fit-content;
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
        p{
          margin: auto;
          letter-spacing: 1rem;
        }
    }
  }
}






// .aboutImg-container{
//   flex: 1;
//   min-height: fit-content;
//   overflow: hidden;
// }
// .aboutImg{
//   width: 100%;
//   object-fit: contain;
//   box-shadow: 0 0 21px 11px rgb(13, 13, 13);
// }

// .flip-side-button{
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }

// .flip-helper{
//   position: relative;
//   width: 25%;
//   height: 25%;
//   background-color: $txtcolor2;
// }
// .flip-img{
//   width: 7vw;
//   margin: -5%;
// }






/* <#########################################------media Query > 768px & < 1024px ------TABLET--------########################################################>
   <#########################################------media Query > 768px & < 1024px ------TABLET--------########################################################>
   <#########################################------media Query > 768px & < 1024px ------TABLET--------########################################################>*/

//    @media (min-width: 768px) and (max-width: 1024px) and (max-resolution: 300dpi){



//     // Skills starts

//     // .skillsPageContainer {
//     //     // .skillsGrid1 {
//     //     //     // width: 100%;
//     //     //     // height: 30%;
//     //     //     // flex-direction: row;
//     //     //     // display: flex;
//     //     //     // padding: 0%;
//     //     //     // .leftarrow, .rightarrow{
//     //     //     //     // display: inline-block;
//     //     //     //     // position: relative;
//     //     //     //     // top: 50%;
//     //     //     //     // transform: translateY(-50%);
//     //     //     //     // height: fit-content;
//     //     //     //     // flex: 1;
//     //     //     //     // text-align: center;
//     //     //     //     // font-size: 1.5rem;
//     //     //     //     // color: #0f1214;
//     //     //     // }

//     //     //     .allSkillsContainer {
//     //     //         // flex: 10;
//     //     //         // align-items: center;
//     //     //         // flex-wrap: nowrap;
//     //     //         // justify-content: flex-start;
//     //     //         // align-self: center;
//     //     //         // overflow: scroll;
//     //     //         // padding: 2%;

//     //     //         .allskills{
//     //     //             // min-width: calc(100vw/8);
//     //     //             // min-height: calc(100vw/8);
//     //     //             // margin: 5%;
//     //     //             div{
//     //     //               // font-size: 1.3rem;
//     //     //             }
//     //     //         }
//     //     //         // &:after{ // to add proper space after the last bubble
//     //     //         //     content: '.';
//     //     //         // }

//     //     //     }
//     //     // }
//     //     .skillsGrid2{
//     //         p{
//     //           font-size: 1.3rem;
//     //         }
//     //     }
//     // }

    


// }

/* <#########################################------media Query > 480px < 767px------ Low End PHONES--------########################################################>
   <#########################################------media Query > 480px < 767px------ Low End PHONES--------########################################################>
   <#########################################------media Query > 480px < 767px------ Low End PHONES--------########################################################> */

  //  @media (min-width: 481px) and (max-width: 767px) and (max-resolution: 191dpi){

  //   .allskills{
  //     min-width: 20vw;
  //     min-height: 20vw;
  //     margin: 20%;
  //   }
  //   .skillsPageContainer{
  //     overflow: scroll;
  //   }
  
  //   about section
  

    
  // }
  
  /* <#########################################------media Query < 480px--------################################################################>
     <#########################################------media Query < 480px--------################################################################>
     <#########################################------media Query < 480px--------################################################################> */
    
    //  phones in landscape mode 
    //  so targetting by dpi and not only by width
    //  so phones in landscape dont affect tablets
    // @media screen 
    // and (min-width: 320px) 
    // and (max-width: 850px) 
    // and (min-resolution: 192dpi) {
    


    // }
  
     
  
  // @media screen 
  //     and (min-width: 320px) 
  //     and (max-width: 480px) 
  //     and (max-resolution: 192dpi) {
  

  //   .allskills{
  //     min-width: 48vw;
  //     min-height: 48vw;
  //   }
  //     // about section
  
  
  //     // .aboutContent{
  //     //   p{
  //     //     // font-size: 3.5rem;
  //     //   }
  //     // }
  // }