body{
    font-family: 'Work Sans', sans-serif;
    background-color: #0F1214;
    color: #EFF2F3;
    font-size: 16px;
}
.mainpage{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.floatingText{
    display: inline-block;
    margin: 0.2%;
    font-size: 2.5rem;
    transition: transform 250ms ease-out;
    transform: scale(1);
}

.floatingmainText{
    display: inline-block;
    margin: 0.2%;
    font-size: 2.5rem;
    transition: transform 1000ms ease-in 4000ms;
}

.floatingmainText.gotoPosition{
    transform: translate(-5000px, 0);
}

.floatingText:hover{
    transform: scale(3);
} 
.nameContainer{
    position: absolute;
    top: 45%;
    right: 20%;
    z-index: 100;
    overflow: hidden;
    transition: transform 1000ms ease-in 4000ms;
}

.nameContainer.removeName{
    transform: scale(0);
}

.firstname{
    z-index: 101;
    float: left;
}
.firstname, .lastname{
    display: inline-block;
    font-size: 3rem;
    margin : -0.5% 5%;
    font-family: 'Lato', sans-serif;
    background: #0F1214;
    font-weight: 700;
    background: #0F1214;
    padding: 2% 9%;
}
.lastname{
    z-index: 102;
    left: 15%;
    position: relative;
}
.swing
{
    animation: shake-crazy 100ms ease-in-out 20 , fall 2000ms ease-in 2000ms 1 forwards;
}
@keyframes fall{
    from {
        transform: translate3d(0, 0, 0);
      }
    
      to {
        visibility: none;
        transform: translate3d(0, 10000%, 0);
      }
}
@keyframes shake-crazy{
    2% {
        transform: translate(-2px, 10px) rotate(0.5deg); }
      4% {
        transform: translate(-8px, -1px) rotate(-2.5deg); }
      6% {
        transform: translate(0px, -2px) rotate(-2.5deg); }
      8% {
        transform: translate(-8px, -5px) rotate(2.5deg); }
      10% {
        transform: translate(-4px, -3px) rotate(1.5deg); }
      12% {
        transform: translate(-8px, 10px) rotate(1.5deg); }
      14% {
        transform: translate(3px, 10px) rotate(1.5deg); }
      16% {
        transform: translate(7px, 9px) rotate(-1.5deg); }
      18% {
        transform: translate(-9px, 2px) rotate(0.5deg); }
      20% {
        transform: translate(7px, 5px) rotate(-1.5deg); }
      22% {
        transform: translate(-8px, 4px) rotate(-2.5deg); }
      24% {
        transform: translate(-2px, 9px) rotate(-0.5deg); }
      26% {
        transform: translate(-3px, -9px) rotate(-2.5deg); }
      28% {
        transform: translate(-1px, -6px) rotate(3.5deg); }
      30% {
        transform: translate(-2px, 10px) rotate(0.5deg); }
      32% {
        transform: translate(7px, 3px) rotate(-2.5deg); }
      34% {
        transform: translate(3px, -6px) rotate(-1.5deg); }
      36% {
        transform: translate(5px, -7px) rotate(1.5deg); }
      38% {
        transform: translate(8px, 10px) rotate(3.5deg); }
      40% {
        transform: translate(-3px, -1px) rotate(2.5deg); }
      42% {
        transform: translate(-7px, 8px) rotate(1.5deg); }
      44% {
        transform: translate(-6px, -2px) rotate(3.5deg); }
      46% {
        transform: translate(-4px, 8px) rotate(3.5deg); }
      48% {
        transform: translate(-6px, -5px) rotate(1.5deg); }
      50% {
        transform: translate(10px, 5px) rotate(-2.5deg); }
      52% {
        transform: translate(-2px, -9px) rotate(-2.5deg); }
      54% {
        transform: translate(5px, -7px) rotate(-1.5deg); }
      56% {
        transform: translate(10px, -6px) rotate(-0.5deg); }
      58% {
        transform: translate(-3px, 8px) rotate(2.5deg); }
      60% {
        transform: translate(7px, -6px) rotate(2.5deg); }
      62% {
        transform: translate(-8px, 6px) rotate(-2.5deg); }
      64% {
        transform: translate(10px, 6px) rotate(-1.5deg); }
      66% {
        transform: translate(-2px, -1px) rotate(3.5deg); }
      68% {
        transform: translate(9px, 5px) rotate(-1.5deg); }
      70% {
        transform: translate(-5px, 6px) rotate(-0.5deg); }
      72% {
        transform: translate(-1px, 9px) rotate(0.5deg); }
      74% {
        transform: translate(5px, 0px) rotate(3.5deg); }
      76% {
        transform: translate(7px, -8px) rotate(-0.5deg); }
      78% {
        transform: translate(-3px, -5px) rotate(1.5deg); }
      80% {
        transform: translate(-2px, 9px) rotate(1.5deg); }
      82% {
        transform: translate(7px, 6px) rotate(3.5deg); }
      84% {
        transform: translate(8px, -2px) rotate(-1.5deg); }
      86% {
        transform: translate(-5px, -6px) rotate(1.5deg); }
      88% {
        transform: translate(9px, 0px) rotate(-0.5deg); }
      90% {
        transform: translate(7px, 3px) rotate(-0.5deg); }
      92% {
        transform: translate(-9px, -7px) rotate(-0.5deg); }
      94% {
        transform: translate(10px, 10px) rotate(-1.5deg); }
      96% {
        transform: translate(-1px, 6px) rotate(-2.5deg); }
      98% {
        transform: translate(-2px, 1px) rotate(1.5deg); }
      0%, 100% {
        transform: translate(0, 0) rotate(0); }
}

.correctWebsite{
    border: none;
    padding: none;
    font-family: inherit;
    text-decoration: none;
    background: #0F1214;
    z-index: 101;
    font-size: 3rem;
    color: inherit;
    margin: 0;
    padding: 0% 15%;
    bottom: 9%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.correctWebsite2{
    display: none;
}
button:focus { outline: none; }

.waitForClass, .waitForClass2{
    display:none;
}
.project , .contact{
	color: #EFF2F3;
	opacity: 0;
    position: absolute;
    left: -1%;
}
.project{
    top: 10%;
    transform: translate(-50rem, 50rem) scale(1);
    animation: entry 0.5s ease-out forwards 5s;
}
.contact{
	transform: translate(-50rem, -50rem) scale(1);
    animation: entry 0.5s ease-out forwards 6s;
    bottom: 10%;
}

@keyframes entry {
	60% {
        transform: translate(10rem, 0) rotate(270deg) scale(0.5);
    }
	100% {
		transform: translate(0) rotate(270deg) scale(1);
		opacity: 1;
	}
}

@media screen and (max-width: 1024px){
    .floatingText{
        font-size: 2rem;
    }
    .firstname,.lastname{
        font-size: 2.5rem;
        margin : -1.5% 5%;
    }
    .nameContainer{
        top: 43%;
    }
}
