$bkcolor  : #0F1214;
$txtcolor1: #f4f4f4;
$txtcolor2: #EFF2F3;
$acntcolor: #ffd000;



body{
    font-family: 'Work Sans', sans-serif;
    background-color: $bkcolor;
    color: $txtcolor1;
    font-size: 16px;
    margin: 0%;
    line-height: 1.5;
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

::-webkit-scrollbar {
  width: 0% !important;  /* remove scrollbar space */
  height: 0% !important;
  background: transparent; 
}

.mainpage{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.main-logo-pr, .main-logo-co, .main-logo-sk, .main-logo-ab {
  position: absolute;
  width: 4vw;
  height: auto;
  opacity: 0;
  transform: rotate(-10deg);
  left: 0.3vw;
}

.main-logo-pr, .main-logo-ab, .main-logo-co{
  top: 0.5vw;
}
.main-logo-sk{
  bottom: 0.75vw;
}

path{
  position: absolute;
  top: 0%;
  left: 0%;
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
  fill: $bkcolor;
}

.logo-wrapper{
  position: absolute;
  top: 15%;
  right: 7%;
  height: 70vh;
  width: 70vh;
  transform: rotate(-10deg);
  overflow: hidden;
}

.logo-png{
  object-fit: cover;
  width: 101%;
  position: absolute;
  top: -0.5%;
  left: -0.5%;
  opacity: 0;
}
#logo-svg{
  width: 100%;
  height: 100%;
}


/* Name section */
.nameContainer{
  position: absolute;
  width: 45vw;
  height: auto;
  top: 50%;
  transform: translateY(-50%);
  left: 15%;
  z-index: 100;
  overflow: hidden;
}

.mainpage-text1, .mainpage-text2, .mainpage-text3, .mainpage-text4{
  font-size: 2.5rem;
  font-weight: 900;
  border-right: 2px solid transparent;
}
.firstname{
  z-index: 101;
  float: left;
}
.firstname, .lastname{
  display: inline-block;
  font-size: 3rem;
  margin : -0.5% 5%;
  font-family: 'Lato', sans-serif;
  background: $bkcolor;
  font-weight: 700;
  background: $bkcolor;
  padding: 2% 9%;
}
.lastname{
  z-index: 102;
  left: 15%;
  position: relative;
}

/* entire background text */

.floatingText{
    display: inline-block;
    padding: 0.5%;
    width: 2vw;
    font-size: 2.5rem;
    transition: all 250ms ease-out;
    transform: scale(1);
    cursor: pointer;
    font-weight: 200;
    color: $txtcolor2;
    text-align: center;
  }
  .floatingmainText{
      display: inline-block;
      padding: 0.5%;
      font-size: 2.5rem;
  }
  .floatingText:hover{
    transform: scale(1.8);
    color: $acntcolor;
  } 




/*< ---------------------------------------------------------------------- website launch button ----------------------------------------------------------------------*/
/*< ---------------------------------------------------------------------- website launch button ----------------------------------------------------------------------*/
/*< ---------------------------------------------------------------------- website launch button ----------------------------------------------------------------------*/

  .buttonContainer{
    width: 30%;
    height: 15%;
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 3rem;
    color: inherit;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
    border-radius: 0%;
    z-index: 200;
    letter-spacing: 0.5rem;
  }
  .correctWebsite{
    border: none;
    padding: none;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
    background: $bkcolor;
    color: $txtcolor2;
    width: 100%;
    height: 100%;      
  }

  .buttonAnimationHelper{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: $txtcolor1;
  }

  .buttonAnimationHelper> p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin: 0;
    color: $bkcolor
  }

  
  .correctWebsite2{
    display: none;
  }
  button:focus { outline: none; 
  }




/* -----------------------------------------------------------------------All mainsections header ------------------------------------------------------------------ */
/* -----------------------------------------------------------------------All mainsections header ------------------------------------------------------------------ */
/* -----------------------------------------------------------------------All mainsections header ------------------------------------------------------------------ */
  .waitForClass, .waitForClass2, .waitForClass3, .waitForClass4{
      display:none;
  }

  .projectContainer, .contactContainer, .skillsContainer, .aboutContainer{
    text-align: center;
    color: $txtcolor2;
    position: absolute;
  }
  
  .projectContainer, .contactContainer{
    width: 10vh;
    z-index: 100;
    height: 100vh;
  }
  .contactContainer{
    right: 0%;
  }
//   .projectContainer{
//     // box-shadow: -5px 0px 25px -15px;
//   }
  .projectContainer div, .contactContainer div{
    top: 50%;
    position: relative;
    width: 100vh;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .projectContainer div{
    transform: translate(-50%,-50%) rotate(90deg);
    left: 50%;
  }
  .contactContainer div{
    transform: translate(-50%,-50%) rotate(270deg);
    right: -50%;
  }
  .skillsContainer, .aboutContainer{
    width: 100vw;
    height: 10vh;
    z-index: 100;
  }

  .aboutContainer{
    bottom: 0%;
  }
  .skillsContainer div , .aboutContainer div{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .project span, .contact span, .skills span, .about span{
    opacity: 1;
    display: inline-block;
    font-weight: 900;
    color: $acntcolor;
  }
  .skills span, .about span{
    width: 10%;
  }
  .project span, .contact span{
    width: 10%;
  }
 



  /* navtext animation */

  .widerText, .widerText2{
    display: inline-block;
    font-weight: 900;
    transition: all 1s cubic-bezier(0.49, -0.19, 0.32, 0.88);  
    width: .5vw;
  }

  .projectContainer:hover > div > .widerText ,  .contactContainer:hover > div > .widerText,   .skillsContainer:hover > div > .widerText2 ,  .aboutContainer:hover > div > .widerText2 {
    width:10%;
    /* color: $acntcolor */
  }






/* individual sections  */




/* <-----------left////right------------------> */
#leftSectionContainer, #rightSectionContainer, #topSectionContainer, #bottomSectionContainer{
  position: absolute;
  background-color: $bkcolor;
  height: 100vh;
  width: 100vw;
  z-index: 202;
  overflow: hidden;
}

.projectTransitionHelper, .contactTransitionHelper, .aboutTransitionHelper, .skillsTransitionHelper{
  position: absolute;
  background-color: $acntcolor;
  height: 100vh;
  width: 100vw;
  z-index: 201;
}

.projectPageContainer{
  width: calc(100vw - 10vh);
  height: 100vh;
  background-color: $bkcolor;
  position: relative;
  top: 0vh;
  left: 0vh ;
  overflow: hidden;
}
.skillsPageContainer{
  width: calc(100vw - 20vh);
  height: 80vh;
  background-color: $bkcolor;
  position: relative;
  top: 10vh;
  left: 10vh ;
  overflow: hidden;
}
.projectPageContainer > p , .contactPageContainer> p, .aboutPageContainer > p, .skillsPageContainer > p{
  color: $bkcolor;
  font-size: 2rem;
  text-align: center;
  overflow: hidden;
  margin: 0%;

}

  /*<------------------------------------------------------- Left section Contents---------------------------------------------------------------------------------> */
  /*<------------------------------------------------------- Left section Contents---------------------------------------------------------------------------------> */
  /*<------------------------------------------------------- Left section Contents---------------------------------------------------------------------------------> */
  .p-t-Left, .p-t-Right{
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: $bkcolor;
    z-index: 200;
  }
  .p-t-Left{
    left: -100%;
  }
  .p-t-Right{
    right: -100%
  }
  .pageIndicator{
    position: absolute;
    left: 0%;
    top: 50%;
    height: 50vh;
    transform: translateY(-50%);
    width: 10vh;
    background-color: transparent;
    z-index: 201;
  }
  .indication{
    height: 24%;
    cursor: pointer; 
    flex-direction: column;
    display: flex;
  }

  .indication p{
    flex: 1;
    top: 0%;
    left: 0;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    margin: 0%;
  }

  .container{
    min-width: 100%;
    min-height: 100%;
    margin:0;
    padding: 0;
  }
  .home{
    height: 100vh;
    width: 100%;
    margin:0;
    padding: 0;
    position: absolute;
  }
  .projectDetailContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: stretch;
  }
  .imgContainer{
    flex:1 ;
    width: 50%;
    padding: 3% 3%;
    box-sizing: border-box;
    flex-direction: column;
    display: flex;

    h1{
        text-align: center;
        flex: 1;
        padding: 5%;
        font-size: 2.5rem;
        color: $txtcolor1;
        align-self: center;
      }
    .projectImg{
        flex: 2;
        width: 80% ;
        padding: 3%;
        align-self: center;
    }
    .external-links{
        text-align: center;
        font-size: 3rem;
        align-self: center;
        width: 100%;
        a{
            margin: 5%;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            }
        a:hover{
            color: $acntcolor;
        }
    }
  }


  .textContent{
    flex : 1;
    width: 50%;
    height: 100%;
    padding: 3% 3%;
    color: $txtcolor1;
    font-size: 2rem;
    text-align: justify;
    overflow: scroll;
    box-sizing: border-box;
        .textwrapper{
            height: 95%;
        }
        p{
            margin: 0%;
        }
  }
  .back{
    position: absolute;
    padding: 1%;
    top: 5%;
    left: 5%;
    font-size: 1.8rem;
    color: $acntcolor;
    cursor: pointer;
    z-index: 1;
  }




  .thumbImg{
  width: calc(100vw - 10vh);
  height: 100vh;
  object-fit: cover;
  position: absolute;
  z-index: 100;
  }

  .thumbimg3{
    filter: invert(1);
  }

  .fa-vr-cardboard{
    z-index: 199;
    font-size: 4rem;
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: $acntcolor;
  }
 span.heading{
    font-size: 9rem;
    letter-spacing: 0.5rem;
    font-family: 'lato';
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $acntcolor;
    color: transparent;
    z-index: 199;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    pointer-events: none;
  }

  



/* <------------------------------ top section --------------------------> */
.skillsPageContainer{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 90vh;
}
.skillsGrid1{
  flex: 1;
  width: 50%;
  height: 100%;
  background-color: $acntcolor;
}
.allSkillsContainer{
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2% 0%;
}
.skillsGrid2{
  flex: 2;
  width: 50%;
  height: 100%;
}
.skillsGrid2 > div{
  margin: 2% 5%;
} 

.allskills{
  width: 8vw;
  height: 8vw;
  background-color: $txtcolor2;
  margin: 0% 10%;
  border-radius: 50%;
  box-shadow: 3px 4px #1f1f1f;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.allskills > div{
  color: $bkcolor;
  font-size: 1.5rem;
  font-weight: 900;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Lato', serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allskills > div > p{
  flex: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin: 0%;
}

.allskills > div > p.skillName4{
  font-size: 4rem;
}

.allskills > div > img.skillName4{
  padding: 20%;
  height: 60%;
}

.skills6 > div > img.skillName4{
  padding: 20%;
  height: 50%;
}

.skillsContent{
  height: 90vh;
}
.skillsContent > p{
  font-size: 1.5rem;
  text-align: justify;
}
.bs4{
  padding: 1%;
}
.js1{
  color: $acntcolor;
  font-style: italic;
  line-height: 1rem;
}
.css4js{
  line-height: 0;
}
.jsbig, .css4js{
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.sun{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}

.react1{
  color: $acntcolor;
  font-style: italic;
  line-height: 1rem;
  font-size: 1.5rem;
}
.reacth1{
  color: $acntcolor;
  font-style: italic;
  font-size: 2rem;
  margin-right: 1%;
}
.react2{
  margin: 0 0 0 5%;
text-align: center
}
.react3{
  margin: 0 0 0 10%;
}

.css4n{
  font-size: 2rem;
  color: $acntcolor;

}










/* <----------------------------------------------------------------------right-----------------------------------------------------------------------------------> */
/* <----------------------------------------------------------------------right-----------------------------------------------------------------------------------> */
/* <----------------------------------------------------------------------right-----------------------------------------------------------------------------------> */

.contactPageContainer{
  width: calc(100vw - 10vh);
  height: 100vh;
  background-color: $acntcolor;
  position: relative;
  top: 0vh;
  left: 10vh ;
  overflow: hidden;
}

.contactPageContainer > .container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  height: 100%;
  width: 100%;
}
.emailContainer, .greetingsContainer{
  flex: 1;
  overflow: hidden;
  text-align: center;
  display: flex;
}

.email, .greetings{
  font-weight: 400;
  color: $bkcolor;
  font-family: 'Nunito', sans-serif;
  margin: 3%;
  flex: 1;
  align-self: center;
}
.email{
  font-size: 4rem;
  letter-spacing: 1rem;
}
.greetings{
  font-size: 7rem;
}

.links{
  flex: 1;
  height: 10vh;
  text-align: center;
  justify-content: center;
  display: flex;
}
.links > div > a{
  text-decoration: none;
  color: inherit;
}
.linkedin, .phone{
  display: inline-block;
  flex: 1;
  height: 10vh;
  max-width: 10vh;
  font-size: 3.5rem;
  color: $bkcolor;
  padding: 1%;
  border-radius: 50%;
  background: aliceblue;
  margin: 4%;
  align-self: center;

}


/* <----------------------------------------------------------------------bottom-----------------------------------------------------------------------------------> */
/* <----------------------------------------------------------------------bottom-----------------------------------------------------------------------------------> */
/* <----------------------------------------------------------------------bottom-----------------------------------------------------------------------------------> */




.aboutPageContainer{
  height: 90vh;
  width: 100vw;
  position: relative;
  top: 10vh;
  left: 0vh ;
}
.aboutWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.aboutphoto, .aboutContent{
  flex: 1;
  max-width: 50%;
  height: 100%;
  box-sizing: border-box;
}

.aboutphoto{
  padding:5%;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
.aboutContent{
  padding: 0 3%;
  overflow: scroll;
  height: 95%;
}
.aboutContent > p{
  text-align: justify;
  font-size: 2rem;
  color: $txtcolor2  ;
  padding: 0; 
  /* overflow: scroll; */
}
.about-img-text{
  flex: 1;
  color: $acntcolor;
  font-size: 1.2rem;
  font-family: 'Dancing Script', cursive;
  text-align: center;
  overflow: hidden;
  min-height: fit-content;
}
.about-img-text > p{
  margin: auto;
  letter-spacing: 1rem;
}
.aboutImg-container{
  flex: 1;
  min-height: fit-content;
  overflow: hidden;
}
.aboutImg{
  width: 100%;
  object-fit: contain;
  box-shadow: 0 0 21px 11px rgb(13, 13, 13);
}

.flip-side-button{
  position: absolute;
  bottom: 0;
  left: 0;
}

.flip-helper{
  position: relative;
  width: 25%;
  height: 25%;
  background-color: $txtcolor2;
}
.flip-img{
  width: 7vw;
  margin: -5%;
}





/* disable hover animation on mobile devices */

@media (hover: none) { 
  .floatingText:hover{
    transform: scale(1);
  } 
}



/* <#########################################------media Query > 768px & < 1024px ------TABLET--------########################################################>
   <#########################################------media Query > 768px & < 1024px ------TABLET--------########################################################>
   <#########################################------media Query > 768px & < 1024px ------TABLET--------########################################################>*/

@media (min-width: 768px) and (max-width: 1024px){
    html{
        -webkit-tap-highlight-color: transparent;
    }
    h2{
      font-size: 1.5rem;
    }
    .nameContainer{
        text-align: center;
        width: 70vw;
        top: 65%;
        left: 50%;
        transform: translateX(-50%);
    }
    .logo-wrapper{
        top: 15%;
        right: 50%;
        height: 40vh;
        width: 40vh;
        transform: translateX(50%)rotate(-10deg);
    }
    .main-logo-pr, .main-logo-co, .main-logo-sk, .main-logo-ab {
        width: 8vw;
        height: auto;
        opacity: 0;
        transform: rotate(-10deg);
        left: 1vw;
      }
      .main-logo-pr, .main-logo-ab, .main-logo-co{
        top: 1.5vw;
      }
      .main-logo-sk{
        bottom: 1.5vw;
      }
    .floatingText{
        font-size: 2rem;
        padding: 1%;
    }
    .correctWebsite{
        font-size: 2rem;
    }
    .widerText{
        width: 2.5%;
    }
    .widerText2{
        width: 2%;
    }

    span.heading{
        font-size: 7rem;
        width: 80%;
        -webkit-text-stroke-width: 2px;
    }
    .pageIndicator{
        width: 8vw;
    }
    .allskills{
        min-width: 20vw;
        min-height: 20vw;
        margin: 10%;
    }

    .imgContainer{
        flex: 4;
        width: 100%;
        height: 50%;

        h1{
            margin: 0%;
            padding: 3%;
        }

    }
    .textContent{
        flex: 3;
        width: 100%;
        font-size: 2rem;
        p{
            padding: 0 5% 5% 5%;
            margin: 0%;
        }
    }

    .back{
        top: 3%;
        left: 3%;
    }
    .projectDetailContainer{
        flex-direction: column;
    }

}


/* <#########################################------media Query > 480px < 767px------PHONES--------########################################################>
   <#########################################------media Query > 480px < 767px------PHONES--------########################################################>
   <#########################################------media Query > 480px < 767px------PHONES--------########################################################> */

@media (min-width: 481px) and (max-width: 767px) {
  body{
    font-size: 12px;
  }
  h2{
    font-size: 1.5rem;
  }
  .floatingText{
      font-size: 2rem;
      padding: 3%
  }
  .firstname,.lastname{
      font-size: 2rem;
      margin : -1.5% 5%;
  }
  .nameContainer{
      top: 43%;
  }
  .correctWebsite{
    font-size: 2rem;
  }
  .widerText, .widerText2{
    font-weight: 900;
    transition: width 1s cubic-bezier(0.49, -0.19, 0.32, 0.88);  
  }
  .widerText{
    width: 3.5%;
  }
  .widerText2{
    width: 3.5%;
  }
  .projectContainer:hover > div > .widerText ,  .contactContainer:hover > div > .widerText,   .skillsContainer:hover > div > .widerText2 ,  .aboutContainer:hover > div > .widerText2 {
    width: 3.5%;
  }
  .allskills{
    min-width: 20vw;
    min-height: 20vw;
    margin: 20%;
  }
  .skillsPageContainer{
    overflow: scroll;
  }
}






/* <#########################################------media Query < 480px--------################################################################>
   <#########################################------media Query < 480px--------################################################################>
   <#########################################------media Query < 480px--------################################################################> */


@media (min-width: 320px) and (max-width: 480px) {
  html{
    font-size: 10px;
  }
  .floatingText{
      padding: 3%;
  }

  .nameContainer{
    width: 50vw;
    top: 65%;
    transform: translateX(-50%);
    left: 51%;
    padding: 5%;
  }
  .logo-wrapper {
    top: 15%;
    left: 50%;
    height: 25vh;
    width: 25vh;
    transform: translateX(-50%) rotate(-10deg);
  }

  .buttonContainer{
      width: 40vw;
      height: 10vh;
      bottom: 10%;
      left: 50%;
  }
  .correctWebsite{
      color: $bkcolor;
      background-color: $txtcolor2;
      width: 100%;
      height: 100%;      
      font-weight: 700;
  }
  .buttonAnimationHelper{
    display: none;
  }
  .widerText, .widerText2{
    font-weight: 900;
  }
  .project span, .contact span, .widerText, .widerText2, .skills span, .about span{
    width: 2vh;
  }
  .projectContainer, .contactContainer{
    width: 10vw
  }
  .skillsContainer, .aboutContainer{
    height: 10vw
  }
  

  .allskills{
    min-width: 48vw;
    min-height: 48vw;
  }

  span.heading{
  font-size: 4rem;
  -webkit-text-stroke-width: 2px;
  z-index: 199;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 75%;
  }
}