body{
    font-family: 'Work Sans', sans-serif;
    background-color: #0F1214;
    color: #EFF2F3;
    font-size: 16px;
}
.mainpage{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.floatingText{
    display: inline-block;
    margin: 0.2%;
    font-size: 2.5rem;
    transition: all 150ms ease-out;
    transform: scale(1);
    position: relative;
}

.floatingText:hover{
    transform: scale(3);
}
.nameContainer{
    position: absolute;
    top: 45%;
    right: 20%;
    z-index: 100;
    overflow: hidden;
}
.firstname{
    z-index: 101;
    float: left;
}
.firstname, .lastname{
    display: inline-block;
    font-size: 3rem;
    margin : -0.5% 5%;
    font-family: 'Lato', sans-serif;
    background: #0F1214;
    font-weight: 700;
    background: #0F1214;
    padding: 2% 9%;
}

.lastname{
    z-index: 102;
    left: 15%;
    position: relative;
}

.correctWebsite{
    border: none;
    padding: none;
    font-family: inherit;
    text-decoration: none;
    background: #0F1214;
    z-index: 101;
    font-size: 3rem;
    color: inherit;
    margin: 0;
    padding: 0% 15%;
    bottom: 9%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

button:focus { outline: none; }

@media screen and (max-width: 1024px){
    .floatingText{
        font-size: 2rem;
    }
    .firstname,.lastname{
        font-size: 2.5rem;
        margin : -1.5% 5%;
    }
    .nameContainer{
        top: 43%;
    }
}
