body{
    font-family: 'Work Sans', sans-serif;
    background-color: #0F1214;
    color: #f4f4f4;
    font-size: 16px;
}
::-webkit-scrollbar {
  width: 0% !important;  /* remove scrollbar space */
  height: 0% !important;
  background: transparent; 
}

.mainpage{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    perspective: 1000px;
}

/* Name section */
  .nameContainer{
    position: absolute;
    top: 45%;
    right: 20%;
    z-index: 100;
    overflow: hidden;
  }

  .firstname{
    z-index: 101;
    float: left;
  }
  .firstname, .lastname{
    display: inline-block;
    font-size: 3rem;
    margin : -0.5% 5%;
    font-family: 'Lato', sans-serif;
    background: #0F1214;
    font-weight: 700;
    background: #0F1214;
    padding: 2% 9%;
  }
  .lastname{
    z-index: 102;
    left: 15%;
    position: relative;
  }


/* entire background text */
  .floatingText{
      display: inline-block;
      margin: 0.2%;
      font-size: 2.5rem;
      transition: all 250ms ease-in;
      transform: scale(1);
      cursor: pointer;
      font-weight: 200;
      color: #EFF2F3;
  }
  .floatingmainText{
      display: inline-block;
      margin: 0.2%;
      font-size: 2.5rem;
      transition: transform 1000ms ease-in 4000ms;
  }
  .floatingText:hover{
    transform: scale(3);
  } 


/* Main text exit animation  */
  .floatingmainText.gotoLeft{
      transform: translate(-5000px, 0);
  }
  .floatingmainText.gotoRight{
    transform: translate(5000px, 0);
  }
  .floatingmainText.gotodown{
    transform: translate(0, 5000px);
  }
  .floatingmainText.gotoup{
    transform: translate(0, -5000px);
  }

  .swing
  {
  animation: shake-crazy 100ms ease-in-out 20 , fall 2000ms ease-in 2000ms 1 forwards;
  }

  @keyframes fall{
      from {
          transform: translate3d(0, 0, 0);
        }
      
        to {
          visibility: none;
          transform: translate3d(0, 10000%, 0);
        }
  }
  @keyframes shake-crazy{
    2% {
      transform: translate(-8px, 0) rotate(0); }
    4% {
      transform: translate(1px, 0) rotate(0); }
    6% {
      transform: translate(-9px, 0) rotate(0); }
    8% {
      transform: translate(-8px, 0) rotate(0); }
    10% {
      transform: translate(1px, 0) rotate(0); }
    12% {
      transform: translate(-4px, 0) rotate(0); }
    14% {
      transform: translate(7px, 0) rotate(0); }
    16% {
      transform: translate(-5px, 0) rotate(0); }
    18% {
      transform: translate(9px, 0) rotate(0); }
    20% {
      transform: translate(6px, 0) rotate(0); }
    22% {
      transform: translate(6px, 0) rotate(0); }
    24% {
      transform: translate(-7px, 0) rotate(0); }
    26% {
      transform: translate(-3px, 0) rotate(0); }
    28% {
      transform: translate(-2px, 0) rotate(0); }
    30% {
      transform: translate(-2px, 0) rotate(0); }
    32% {
      transform: translate(1px, 0) rotate(0); }
    34% {
      transform: translate(0px, 0) rotate(0); }
    36% {
      transform: translate(-3px, 0) rotate(0); }
    38% {
      transform: translate(-3px, 0) rotate(0); }
    40% {
      transform: translate(2px, 0) rotate(0); }
    42% {
      transform: translate(-6px, 0) rotate(0); }
    44% {
      transform: translate(7px, 0) rotate(0); }
    46% {
      transform: translate(4px, 0) rotate(0); }
    48% {
      transform: translate(-2px, 0) rotate(0); }
    50% {
      transform: translate(8px, 0) rotate(0); }
    52% {
      transform: translate(2px, 0) rotate(0); }
    54% {
      transform: translate(4px, 0) rotate(0); }
    56% {
      transform: translate(-4px, 0) rotate(0); }
    58% {
      transform: translate(-7px, 0) rotate(0); }
    60% {
      transform: translate(-9px, 0) rotate(0); }
    62% {
      transform: translate(4px, 0) rotate(0); }
    64% {
      transform: translate(-2px, 0) rotate(0); }
    66% {
      transform: translate(10px, 0) rotate(0); }
    68% {
      transform: translate(-1px, 0) rotate(0); }
    70% {
      transform: translate(-4px, 0) rotate(0); }
    72% {
      transform: translate(10px, 0) rotate(0); }
    74% {
      transform: translate(3px, 0) rotate(0); }
    76% {
      transform: translate(-1px, 0) rotate(0); }
    78% {
      transform: translate(-1px, 0) rotate(0); }
    80% {
      transform: translate(2px, 0) rotate(0); }
    82% {
      transform: translate(-3px, 0) rotate(0); }
    84% {
      transform: translate(-6px, 0) rotate(0); }
    86% {
      transform: translate(-9px, 0) rotate(0); }
    88% {
      transform: translate(9px, 0) rotate(0); }
    90% {
      transform: translate(-6px, 0) rotate(0); }
    92% {
      transform: translate(-2px, 0) rotate(0); }
    94% {
      transform: translate(8px, 0) rotate(0); }
    96% {
      transform: translate(0px, 0) rotate(0); }
    98% {
      transform: translate(6px, 0) rotate(0); }
    0%, 100% {
      transform: translate(0, 0) rotate(0); 
    }
  }



/* website launch button */
  .buttonContainer{
    width: 30%;
      height: 15%;
      position: absolute;
      bottom: 5%;
      left: 50%;
      font-size: 3rem;
      color: inherit;
      margin: 0;
      transform: translateX(-50%);
      text-align: center;
      overflow: hidden;
      border-radius: 0%;
      z-index: 200;
      letter-spacing: 0.5rem;
  }
  .correctWebsite{
      border: none;
      padding: none;
      font-family: inherit;
      text-decoration: none;
      background: #0F1214;
      color: #EFF2F3;
      width: 100%;
      height: 100%;      
  }

  .buttonAnimationHelper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    background-color: white;
    transition: all 500ms cubic-bezier(0.25, 0.1, 0.35, 2.35);
  }
  .buttonAnimationHelper> p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .buttonContainer:hover > div{
    top: 0%;
    color: black;
  }
  .correctWebsite2{
    display: none;
  }
  button:focus { outline: none; 
  }


/* All mainsections header  */
  .waitForClass, .waitForClass2, .waitForClass3, .waitForClass4{
      display:none;
  }

  .project span:nth-of-type(2), .contact span:nth-of-type(2), .skills span:nth-of-type(2), .about span:nth-of-type(2){
    animation-delay: 5.05s;
  }
  .project span:nth-of-type(3), .contact span:nth-of-type(3), .skills span:nth-of-type(3), .about span:nth-of-type(3) {
    animation-delay: 5.1s;
  }
  .project span:nth-of-type(4), .contact span:nth-of-type(4), .skills span:nth-of-type(4), .about span:nth-of-type(4) {
    animation-delay: 5.15s;
  }
  .project span:nth-of-type(5), .contact span:nth-of-type(5), .skills span:nth-of-type(5), .about span:nth-of-type(5) {
    animation-delay: 5.2s;
  }
  .project span:nth-of-type(6), .contact span:nth-of-type(6), .skills span:nth-of-type(6), .about span:nth-of-type(6) {
    animation-delay: 5.25s;
  }
  .project span:nth-of-type(7), .contact span:nth-of-type(7), .skills span:nth-of-type(7), .about span:nth-of-type(7) {
    animation-delay: 5.3s;
  }
  .project span:nth-of-type(8), .contact span:nth-of-type(7), .skills span:nth-of-type(7), .about span:nth-of-type(7) {
    animation-delay: 5.35s;
  }
  .project span:nth-of-type(9), .contact span:nth-of-type(7), .skills span:nth-of-type(7), .about span:nth-of-type(7) {
    animation-delay: 5.4s;
  }
  .projectContainer, .contactContainer, .skillsContainer, .aboutContainer{
    text-align: center;
    color: #EFF2F3;
    position: absolute;
  }
  .projectContainer, .contactContainer{
    width: 10vh;
    z-index: 100;
    height: 100vh;
  }
  .contactContainer{
    right: 0%;
  }
  .projectContainer div, .contactContainer div{
    top: 50%;
    position: relative;
    width: 100vh;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .projectContainer div{
    transform: translate(-50%,-50%) rotate(90deg);
    left: 50%;
  }
  .contactContainer div{
    transform: translate(-50%,-50%) rotate(270deg);
    right: -50%;
  }
  .skillsContainer, .aboutContainer{
    width: 100vw;
    height: 10vh;
    z-index: 100;
  }

  .aboutContainer{
    bottom: 0%;
  }
  .skillsContainer div , .aboutContainer div{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .project span, .contact span, .skills span, .about span{
    opacity: 0;
    display: inline-block;
    font-weight: 900;
  }
  .skills span, .about span{
    width: 10%;
  }
  .project span, .contact span{
    width: 10%;
  }
  /* individual header animations */
  .project span{
    animation: leftentry 0.5s ease-out forwards 5s;
    transform: translate(-50rem, 50rem) rotate(270deg);
  }
  @keyframes leftentry {
    60% {
          transform: translate(5rem, 0) rotate(180deg) scale(0.5);
      }
    100% {
      transform: translate(0, 0) rotate(0) scale(1);
      opacity: 1;
    }
  }
  .contact span{
    transform: translate(50rem, 50rem) scale(1);
    animation: rightentry 0.5s ease-out forwards 5s;
  }
  @keyframes rightentry {
    60% {
          transform: translate(5rem, 0) rotate(270deg) scale(0.5);
      }
    100% {
      transform: translate(0, 0) rotate(0) scale(1);
      opacity: 1;
    }
  }
  .skills span{
    transform: translate(0, -50rem) scale(1);
    animation: topentry 0.5s ease-out forwards 5s;
  }
  @keyframes topentry {
    60% {
          transform: translate(0, 5rem) rotate(0) scale(0.5);
      }
    100% {
      transform: translate(0, 0) rotate(0) scale(1);
      opacity: 1;
    }
  }
  .about span{
    transform: translate(0, 50rem) scale(1);
    animation: bottomentry 0.5s ease-out forwards 5s;

  }
  @keyframes bottomentry {
    60% {
          transform: translate(0, -5rem) rotate(0) scale(0.5);
      }
    100% {
      transform: translate(0, 0) rotate(0) scale(1);
      opacity: 1;
    }
  }
  /* navtext animation */

  .widerText, .widerText2{
    display: inline-block;
    font-weight: 900;
    transition: all 1s cubic-bezier(0.49, -0.19, 0.32, 0.88);  
  }
  .widerText{
    width: 2.5%;
  }
  .widerText2{
    width: 1.5%;
  }
  .projectContainer:hover > div > .widerText ,  .contactContainer:hover > div > .widerText,   .skillsContainer:hover > div > .widerText2 ,  .aboutContainer:hover > div > .widerText2 {
    width:10%;
    color: #ffd000
  }

/* individual sections  */

/* <-----------left////right------------------> */
#leftSectionContainer, #rightSectionContainer, #topSectionContainer, #bottomSectionContainer{
  position: absolute;
  background-color: #0F1214;
  height: 100vh;
  width: 100vw;
  z-index: 202;
  overflow: hidden;
}

.projectTransitionHelper, .contactTransitionHelper, .aboutTransitionHelper, .skillsTransitionHelper{
  position: absolute;
  background-color: #EFF2F3;
  height: 100vh;
  width: 100vw;
  z-index: 201;
}

.projectPageContainer, .contactPageContainer, .aboutPageContainer, .skillsPageContainer{
  width: calc(100vw - 20vh);
  height: 80vh;
  background-color: #0F1214;
  position: relative;
  top: 10vh;
  left: 10vh ;
  overflow: hidden;
}
.projectPageContainer > p , .contactPageContainer> p, .aboutPageContainer > p, .skillsPageContainer > p{
  color: #0F1214;
  font-size: 2rem;
  text-align: center;
  overflow: hidden;

}

  /*<---------------- Left section Contents---------------> */
  .p-t-Left, .p-t-Right{
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: #0f1214;
    z-index: 200;
  }
  .p-t-Left{
    left: -100%;
  }
  .p-t-Right{
    right: -100%
  }
  .pageIndicator{
    position: absolute;
    left: 0;
    top:50%;
    transform: translateY(-50%);
    height: 50vh;
    width: 10vh;
    background-color: #0F1214;
  }
  .indication{
    height: 25%;
    cursor: pointer;   
  }

  .indication p{
    top: 50%;
    left: 0;
    position: relative;
    transform: translateY(-50%);
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
  }

  .container{
    min-width: 100%;
    min-height: 100%;
    margin:0;
    padding: 0;
  }
  .home{
    height: 80vh;
    width: 100%;
    margin:0;
    padding: 0;
    position: absolute;
  }
  .projectDetailContainer{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: stretch;
  }
  .imgContainer{
    flex:1 ;
    width: 50%;
    padding: 5%;
  }
  .thumbImg{
  width: calc(100vw - 20vh);
  height: 80vh;
  object-fit: cover;
  position: absolute;
  z-index: 100;
  }
  .projectImg{
    width: 100% ;
  }
  .imgContainer h1{
    text-align: center;
    padding-bottom: 2%;
    color: #f4f4f4;
  }
  .textContent{
    flex : 1;
    width: 50%;
    padding: 5%;
    color: #f4f4f4;
    font-size: 2rem;
    text-align: center;
    overflow: scroll;
  }
  .back{
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 1.8rem;
    color: #ffd000;
    cursor: pointer;
  }



/* <------------------------------ top section --------------------------> */
.skillsPageContainer{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 90vh;
}
.skillsGrid1{
  flex: 1;
  width: 50%;
  height: 100%;
  background-color: #ffd000;

}
.allSkillsContainer{
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 10%;
}
.skillsGrid2{
  flex: 2;
  width: 50%;
  height: 100%;
}
.skillsGrid2 > div{
  margin: 2% 5%;
} 

.allskills{
  width: 8vw;
  height: 8vw;
  background-color: #EFF2F3;
  margin: 0% 10%;
  border-radius: 50%;
  box-shadow: 3px 4px #1f1f1f;
  position: relative;
  cursor: pointer;
}

.allskills > div{
  color: #0F1214;
  font-size: 1.5rem;
  font-weight: 900;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Lato', serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allskills > div > p{
  flex: 1;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.allskills > div > p.skillName4{
  font-size: 4rem;
}

.allskills > div > img.skillName4{
  padding: 20%;
  height: 100%;
}

.skillsContent{
  height: 90vh;
}
.skillsContent > p{
  font-size: 1.5rem;
  text-align: justify;
}
.js1{
  color: #ffd000;
  font-style: italic;
  line-height: 1rem;
}
.css4js{
  line-height: 0;
}
.jsbig, .css4js{
  font-size: 2.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
}

.sun{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
}











/* <-----------top////bottom------------------> */



/* disable hover animation on mobile devices */

@media (hover: none) { 
  .floatingText:hover{
    transform: scale(1);
  } 
}



/* <#########################################------media Query > 480px ------TABLET--------########################################################>
   <#########################################------media Query > 480px ------TABLET--------########################################################>
   <#########################################------media Query > 480px ------TABLET--------########################################################>*/

@media (min-width: 768px) and (max-width: 1024px){
    body{
      font-size: 12px;
    }
    h2{
      font-size: 1.5rem;
    }
    .floatingText{
        font-size: 2rem;
    }
    .firstname,.lastname{
        font-size: 2rem;
        margin : -1.5% 5%;
    }
    .nameContainer{
        top: 43%;
    }
    .correctWebsite{
      font-size: 2rem;
    }
    .widerText{
      width: 2.5%;
    }
    .widerText2{
      width: 2%;
    }
    .allskills{
      min-width: 20vw;
      min-height: 20vw;
      margin: 10%;
    }
}


/* <#########################################------media Query > 480px ------PHONES--------########################################################>
   <#########################################------media Query > 480px ------PHONES--------########################################################>
   <#########################################------media Query > 480px ------PHONES--------########################################################> */

@media (min-width: 481px) and (max-width: 767px) {
  body{
    font-size: 12px;
  }
  h2{
    font-size: 1.5rem;
  }
  .floatingText{
      font-size: 2rem;
  }
  .firstname,.lastname{
      font-size: 2rem;
      margin : -1.5% 5%;
  }
  .nameContainer{
      top: 43%;
  }
  .correctWebsite{
    font-size: 2rem;
  }
  .widerText, .widerText2{
    font-weight: 900;
    transition: width 1s cubic-bezier(0.49, -0.19, 0.32, 0.88);  
  }
  .widerText{
    width: 3.5%;
  }
  .widerText2{
    width: 3.5%;
  }
  .projectContainer:hover > div > .widerText ,  .contactContainer:hover > div > .widerText,   .skillsContainer:hover > div > .widerText2 ,  .aboutContainer:hover > div > .widerText2 {
    width: 3.5%;
  }
  .allskills{
    min-width: 20vw;
    min-height: 20vw;
    margin: 20%;
  }
  .skillsPageContainer{
    overflow: scroll;
  }
}

/* <#########################################------media Query < 480px--------################################################################>
   <#########################################------media Query < 480px--------################################################################>
   <#########################################------media Query < 480px--------################################################################> */


@media (min-width: 320px) and (max-width: 480px) {
  body{
    font-size: 12px;
  }
  h2{
    font-size: 1.5rem;
  }
  .floatingText{
      font-size: 1.5rem;
  }
  .firstname,.lastname{
      font-size: 2rem;
      margin : -1.5% 5%;
  }
  .nameContainer{
      top: 50%;
      right: 5%;
  }
  .buttonContainer{
      width: 40%;
      height: 10%;
      position: absolute;
      bottom: 10%;
      left: 50%;
  }
  .correctWebsite{
      color: #0F1214;
      background-color: #EFF2F3;
      width: 100%;
      height: 100%;      
      font-size: 1.5rem;
      font-weight: 900;
  }
  .buttonAnimationHelper{
    display: none;
  }
  .widerText, .widerText2{
    font-weight: 900;
    transition: width 1s cubic-bezier(0.49, -0.19, 0.32, 0.88);  
  }
  .project span, .contact span{
    width: 3.5%;
  }
  .widerText{
    width: 3.5%;
  }
  .skills span, .about span{
    width: 4.5%;
  }
  .widerText2{
    width: 4.5%;
  }
  .projectContainer:hover > div > .widerText ,  .contactContainer:hover > div > .widerText{
    width: 3.5%;
  }
  .skillsContainer:hover > div > .widerText2 ,  .aboutContainer:hover > div > .widerText2 {
    width: 4.5%;
  }
  .allskills{
    min-width: 48vw;
    min-height: 48vw;
  }
  .skillsPageContainer{
    overflow: scroll;
  }
}